:root {
  --primary-font: "Prata", serif;
  --secondary-font: "Assistant", sans-serif;
  --text-color: #212629;
  --primary-color: #b7e4c7;
}

h1,
h2,
h2,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 90px;
  margin: 80px 0px 70px;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 36px;
}

nav {
  padding-top: 15px;
}

nav h4 {
  font-family: var(--secondary-font);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  font-family: var(--secondary-font);
  list-style: none;
}

nav a {
  color: var(--text-color);
  font-size: 18px;
  margin-left: 18px;
  text-decoration: none;
}

.hero {
  /* background-color: #e6f8f7; */
  /* background-color: #b7e4c7; */
  background-image: linear-gradient(to top, #b7e4c7 0%, #ffffff 100%);
  /* padding: 110px 0px; */
  height: 570px;
}

.hero h1 {
  margin: 200px 0 25px 0;
}

.hero h2 {
  margin-bottom: 80px;
}

.hero .btn {
  color: var(--text-color);
  background: var(--primary-color);
  border: none;
  font-family: var(--secondary-font);
  font-size: 24px;
  margin: 0 30px;
  transition: all 150ms ease-in-out;
  width: 150px;
}

.hero .btn:hover {
  background: var(--text-color);
  color: white;
}

.homepage-content h3 {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.homepage-content p {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-align: center;
}

.email-link a {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 36px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.email-link a:hover {
  color: var(--primary-color);
}

.social-links a {
  background: var(--primary-color);
  border-radius: 50%;
  color: white;
  font-size: 36px;
  margin: 20px 15px;
  padding: 0px 10px;
  transition: all 150ms ease-in-out;
  text-decoration: none;
}

.social-links a:hover {
  background: none;
  color: var(--primary-color);
}

.credit {
  font-family: var(--secondary-font);
  text-align: center;
}

.about-content img {
  max-width: 437px;
  display: block;
  margin: 0 auto;
}

.about-content p {
  font-family: var(--secondary-font);
  font-size: 24px;
  margin-bottom: 20px;
}

.card .card-title {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card .card-text {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-align: center;
}

.contact-content .link-column {
  margin-top: 200px;
}

.contact-content h2 {
  font-family: var(--secondary-font);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.contact-content a {
  color: var(--text-color);
  display: block;
  font-family: var(--secondary-font);
  font-size: 28px;
  margin-bottom: 35px;
  text-align: center;
  text-decoration: none;
}

.nav-links {
  display: block;
  text-align: center;
}

@media (max-width: 700px) {
  h1 {
    font-size: 40px;
    margin-top: 40px;
  }
  h2 {
    font-size: 24px;
  }
  nav h4 {
    display: none;
  }
  nav a {
    font-size: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .hero {
    /* padding: 80px 0px; */
    height: 727px;
  }
  .hero .btn {
    font-size: 18px;
    max-width: 120px;
  }
  .about-content img {
    max-width: 80%;
  }
  .about-content p {
    font-size: 18px;
    margin: 35px;
  }
  .about-content br {
    display: none;
  }
  .contact-content h2 {
    font-size: 24px;
  }
  .contact-content a {
    font-size: 24px;
  }
}
