:root {
  --primary-font: "Prata", serif;
  --secondary-font: "Assistant", sans-serif;
  --text-color: #212629;
}

h1,
h2,
h2,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 90px;
  margin-top: 100px;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 36px;
}

nav {
  padding-top: 15px;
}

nav h4 {
  font-family: var(--secondary-font);
}

nav li {
  display: inline;
  font-family: var(--secondary-font);
  list-style: none;
}

nav a {
  color: var(--text-color);
  font-size: 18px;
  margin-left: 18px;
  text-decoration: none;
}

.hero {
  background-color: #e6f8f7;
  padding: 110px 0px;
}

.hero .btn {
  display: block;
  font-family: var(--secondary-font);
  font-size: 24px;
  margin: 0 auto;
  max-width: 160px;
}

.homepage-content h3 {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.homepage-content p {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-align: center;
}

.about-content img {
  max-width: 437px;
  display: block;
  margin: 0 auto;
}

.about-content p {
  font-family: var(--secondary-font);
  font-size: 24px;
  margin-bottom: 20px;
}

.card .card-title {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card .card-text {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-align: center;
}

.contact-content .link-column {
  margin-top: 200px;
}

.contact-content h2 {
  font-family: var(--secondary-font);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.contact-content a {
  color: var(--text-color);
  display: block;
  font-family: var(--secondary-font);
  font-size: 28px;
  margin-bottom: 35px;
  text-align: center;
  text-decoration: none;
}

.nav-links {
  display: block;
  text-align: center;
}

@media (max-width: 700px) {
  h1 {
    font-size: 40px;
    margin-top: 40px;
  }
  h2 {
    font-size: 24px;
  }
  nav h4 {
    display: none;
  }
  nav a {
    font-size: 18px;
  }
  .hero {
    padding: 80px 0px;
  }
  .hero .btn {
    font-size: 18px;
    max-width: 120px;
  }
  .about-content img {
    max-width: 80%;
  }
  .about-content p {
    font-size: 18px;
    margin: 35px;
  }
  .contact-content h2 {
    font-size: 24px;
  }
  .contact-content a {
    font-size: 24px;
  }
}

/* .social-links {
  background-color: #e6f8f7;
  padding-top: 30px;
  text-align: center;
}

i {
  font-size: 40px;
  color: #1c2024;
}*/
